.inside {
    width: 500px;
    height: 600px;
    background-color: rgb(53, 4, 4);
    padding: 2px;
}
.main {
    border: 50px solid black;
    width: 500px;
    padding: 50px;
    margin: 20px auto;
}
.first {
    width: 425px;
    height: 150px;
    background-color: rgb(175, 162, 99);
    margin: 20px auto;
    border-radius: 15px;
    
}
.second {
    width: 475px;
    height: 200px;
    background-color: rgb(146, 13, 13);
    margin: auto;
    border-radius: 15px;
}
.third {
    width: 440px;
    height: 150px;
    background-color: rgb(216, 36, 36);
    margin: 20px auto;
    border-top-right-radius: 25px;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 55px;
}
