/* start your styling here  */
.container {
    border: solid rgb(6, 5, 17);  
    border-radius: 15px;
    height: 29rem;
    width: 30rem;
    margin: 20px auto;
    background-color: rgb(6, 5, 17);
    margin-top: 10rem;
}
.main {
  margin-top: 3rem;
   
}
button {
    border-radius: 10px;
    height: 3rem;
    width: 5rem;
    margin-left: 2rem;
    padding-bottom: 3rem;
    margin-top: 1rem;
    background-color: rgb(63, 63, 207);
    color: white;
    font-size: 2rem;
    
}
.buttonc {
    
    margin-left: 23.8rem;
}

input {
    position: absolute;
    background-color: rgb(63, 63, 207);
    color: white;
    font-size: 2rem; 
    height: 3rem;
    width: 18.9rem; 
    margin-top: 1rem;
    margin-left: 2.2rem;
    border-radius: 10px;
}
.start {
    border: solid black; 
    border-radius: 15px;
    height: 50rem;
    width:50rem;
    margin: 20px auto;
    background-color: rgb(6, 5, 17);
    
}
.pink {
    background-color: rgb(223, 35, 182);
}
