body {
    background-color: grey;
    font-size: 1.3rem;
}
.main {
    background-color: black;
    height: 600px;
    width: 550px;
    margin: 40px auto;
    border: solid 5px white;
}
h2 {
    position: absolute;
    color: white;
    margin-left: 3%;
    
    margin-top: 3%;
}
.fill {
    position: absolute;
    margin: 70px ;
    margin-left: 3%;
    
}
.name input{
    font-size: 1.3rem;
    width: 38rem;
    height: 3rem;
}
.check input {
    width: 3rem;
    height: 3rem;
    margin-left:0%;
}
label {
    color: aliceblue;
    font-size: 1.2rem;
}
span {
    position: absolute;
    margin-top: 8px;
    padding-left: 20px;
}
.button {
    position: absolute;
    margin-top: 20px;
    margin-left: 40%;
    height: 3rem;
    width: 10rem;
    background-color: black;
    color: white;
    border: solid 2px white;
    font-size: 1.3rem;
}
